In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3 as sql # SQL connection

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/soccer/database.sqlite

In [2]:
# Establish connection to the database
conn = sql.connect('/kaggle/input/soccer/database.sqlite')

In [3]:
table_list_query = """
SELECT name 
FROM sqlite_master  
WHERE type='table'
"""

table_list = pd.read_sql(table_list_query, conn)
table_list

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [4]:
player_query = """
SELECT *
FROM Player
LIMIT 10
"""

first_ten_players = pd.read_sql(player_query, conn)
first_ten_players

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
5,6,27316,Aaron Hunt,158138,1986-09-04 00:00:00,182.88,161
6,7,564793,Aaron Kuhl,221280,1996-01-30 00:00:00,172.72,146
7,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139
8,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181
9,10,101042,Aaron Meijers,188621,1987-10-28 00:00:00,175.26,170

In [5]:
attributes_query = """
SELECT *
FROM Player_Attributes
LIMIT 10"""
ten_attributes = pd.read_sql(attributes_query, conn)
ten_attributes

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
5,6,189615,155782,2016-04-21 00:00:00,74,76,left,high,medium,80,...,66,59,76,75,78,14,7,9,9,12
6,7,189615,155782,2016-04-07 00:00:00,74,76,left,high,medium,80,...,66,59,76,75,78,14,7,9,9,12
7,8,189615,155782,2016-01-07 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12
8,9,189615,155782,2015-12-24 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12
9,10,189615,155782,2015-12-17 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12

In [6]:
player_with_attributes_query = """
WITH TenPlayers AS(
SELECT player_name, player_api_id
FROM Player
LIMIT 10
)
SELECT *
FROM TenPlayers AS p
INNER JOIN Player_Attributes AS pa ON p.player_api_id = pa.player_api_id"""

pwa = pd.read_sql(player_with_attributes_query, conn)
pwa

,player_name,player_api_id,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Aaron Appindangoye,505942,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,...,54,48,65,69,69,6,11,10,8,8
1,Aaron Appindangoye,505942,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,...,54,48,65,69,69,6,11,10,8,8
2,Aaron Appindangoye,505942,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,...,54,48,65,66,69,6,11,10,8,8
3,Aaron Appindangoye,505942,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,...,53,47,62,63,66,5,10,9,7,7
4,Aaron Appindangoye,505942,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,...,53,47,62,63,66,5,10,9,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Aaron Meijers,101042,194,188621,101042,2012-08-31 00:00:00,68,72,right,medium,...,66,52,58,62,60,6,14,6,9,14
194,Aaron Meijers,101042,195,188621,101042,2012-02-22 00:00:00,67,71,right,medium,...,66,52,60,60,62,6,14,6,9,14
195,Aaron Meijers,101042,196,188621,101042,2011-08-30 00:00:00,64,67,right,medium,...,63,52,60,61,62,6,14,6,9,14
196,Aaron Meijers,101042,197,188621,101042,2008-08-30 00:00:00,64,67,right,medium,...,63,52,60,61,62,6,14,6,9,14
197,Aaron Meijers,101042,198,188621,101042,2007-02-22 00:00:00,64,67,right,medium,...,63,52,60,61,62,6,14,6,9,14