<a id = "table-of-contents"></a>
# Table of Contents

- [Introduction](#intro)
- [Procedure](#procedure)

<a id = "intro"></a>
# Introduction  

Being a huge European soccer fan, I have always been interested in diving into a soccer dataset. From my experience, most recent/quality soccer data is gated behind pretty expensive paywalls, or is only available from betting websites. In both of these cases, it is not an ideal field to use for an analytics project.

Fortunately, this dataset, at first glance, looks like a good meeting point where we can avoid the betting odds, but still get match/season/player data from the database.

# Procedure

The main purpose behind this dive is to perform EDA using SQL and pandas, identify database schema type, draw some preliminary insights from the data, and summarize. 

If the data is interesting enough, I plan to pull some of it out for further visualization in Tableau or Power BI.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3 as sql # SQL database connector

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Establish connection to the database
conn = sql.connect('/kaggle/input/soccer/database.sqlite')

/kaggle/input/soccer/database.sqlite

<a id = "table-exploration"></a>
## Table Exploration
Let's identify which tables are contained in the database. 

From there, we can make top row queries to each table to get an idea of what each table contains and how they should be joined. This will also give us a better idea of what is contained in this database and what questions we can ask of it.

In [2]:
table_list_query = """
SELECT name
FROM sqlite_master  
WHERE type='table'"""

table_list = pd.read_sql(table_list_query, conn)
table_list

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

Now that we know

In [3]:
country_query = """
SELECT *
FROM Country
"""

countries = pd.read_sql(country_query, conn)
countries

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [4]:
league_query = """
SELECT *
FROM League"""

leagues = pd.read_sql(league_query, conn)
leagues

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [5]:
player_query = """
SELECT *
FROM Player
LIMIT 10
"""

first_ten_players = pd.read_sql(player_query, conn)
first_ten_players

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
5,6,27316,Aaron Hunt,158138,1986-09-04 00:00:00,182.88,161
6,7,564793,Aaron Kuhl,221280,1996-01-30 00:00:00,172.72,146
7,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139
8,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181
9,10,101042,Aaron Meijers,188621,1987-10-28 00:00:00,175.26,170

In [6]:
player_attributes_query = """
SELECT *
FROM Player_Attributes
LIMIT 10"""
ten_attributes = pd.read_sql(player_attributes_query, conn)
ten_attributes

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
5,6,189615,155782,2016-04-21 00:00:00,74,76,left,high,medium,80,...,66,59,76,75,78,14,7,9,9,12
6,7,189615,155782,2016-04-07 00:00:00,74,76,left,high,medium,80,...,66,59,76,75,78,14,7,9,9,12
7,8,189615,155782,2016-01-07 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12
8,9,189615,155782,2015-12-24 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12
9,10,189615,155782,2015-12-17 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12

In [7]:
player_with_attributes_query = """
WITH TenPlayers AS(
SELECT player_name, player_api_id
FROM Player
LIMIT 10
)
SELECT *
FROM TenPlayers AS p
INNER JOIN Player_Attributes AS pa ON p.player_api_id = pa.player_api_id"""

pwa = pd.read_sql(player_with_attributes_query, conn)
pwa

,player_name,player_api_id,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Aaron Appindangoye,505942,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,...,54,48,65,69,69,6,11,10,8,8
1,Aaron Appindangoye,505942,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,...,54,48,65,69,69,6,11,10,8,8
2,Aaron Appindangoye,505942,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,...,54,48,65,66,69,6,11,10,8,8
3,Aaron Appindangoye,505942,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,...,53,47,62,63,66,5,10,9,7,7
4,Aaron Appindangoye,505942,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,...,53,47,62,63,66,5,10,9,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Aaron Meijers,101042,194,188621,101042,2012-08-31 00:00:00,68,72,right,medium,...,66,52,58,62,60,6,14,6,9,14
194,Aaron Meijers,101042,195,188621,101042,2012-02-22 00:00:00,67,71,right,medium,...,66,52,60,60,62,6,14,6,9,14
195,Aaron Meijers,101042,196,188621,101042,2011-08-30 00:00:00,64,67,right,medium,...,63,52,60,61,62,6,14,6,9,14
196,Aaron Meijers,101042,197,188621,101042,2008-08-30 00:00:00,64,67,right,medium,...,63,52,60,61,62,6,14,6,9,14
197,Aaron Meijers,101042,198,188621,101042,2007-02-22 00:00:00,64,67,right,medium,...,63,52,60,61,62,6,14,6,9,14

In [8]:
team_query = """
SELECT *
FROM Team
LIMIT 10"""

teams = pd.read_sql(team_query, conn)
teams

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB
5   6         8635             229.0     RSC Anderlecht             AND
6   7         9991             674.0           KAA Gent             GEN
7   8         9998            1747.0          RAEC Mons             MON
8   9         7947               NaN      FCV Dender EH             DEN
9  10         9985             232.0  Standard de Liège             STL

In [9]:
team_attributes_query = """
SELECT *
FROM Team_Attributes
LIMIT 10"""

team_attributes = pd.read_sql(team_attributes_query, conn)
team_attributes

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
5,6,77,8485,2012-02-22 00:00:00,58,Balanced,NaN,Little,62,Mixed,...,55,Normal,Organised,40,Medium,40,Press,60,Normal,Cover
6,7,77,8485,2013-09-20 00:00:00,62,Balanced,NaN,Little,45,Mixed,...,55,Normal,Organised,42,Medium,42,Press,60,Normal,Cover
7,8,77,8485,2014-09-19 00:00:00,58,Balanced,64.0,Normal,62,Mixed,...,57,Normal,Organised,41,Medium,42,Press,60,Normal,Cover
8,9,77,8485,2015-09-10 00:00:00,59,Balanced,64.0,Normal,53,Mixed,...,63,Normal,Free Form,49,Medium,45,Press,63,Normal,Cover
9,10,614,8576,2010-02-22 00:00:00,60,Balanced,NaN,Little,40,Mixed,...,55,Normal,Organised,30,Deep,70,Double,30,Narrow,Offside Trap

In [10]:
matches_query = """
SELECT *
FROM Match
LIMIT 10"""

ten_matches = pd.read_sql(matches_query, conn)
ten_matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
5,6,1,1,2008/2009,1,2008-09-24 00:00:00,492478,8203,8342,1,...,1.67,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
6,7,1,1,2008/2009,1,2008-08-16 00:00:00,492479,9999,8571,2,...,3.60,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
7,8,1,1,2008/2009,1,2008-08-16 00:00:00,492480,4049,9996,1,...,2.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
8,9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,...,3.10,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
9,10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,...,10.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00

<a id = "summary-of-table-exploration"></a>
## Summary of Table Exploration
It looks like the name of the country is more-or-less contained in the league name, so we won't need to worry about that table much. 

Player & player attributes and team & team attributes go similarly hand-in-hand. Will need to look into team attributes to see if any of that information is interesting at all.

Overall, the meat of the database is in the Match table. How that table interacts with the teams and players will be the more illuminating portion of the database.

<a id = "EDA"></a>
# EDA with SQL

### Let's focus on the English soccer leagues for now...
First let's get a full look at the columns available in the Match table.

In [11]:
cursor = conn.execute('SELECT * FROM Match LIMIT 1')
print([description[0] for description in cursor.description])

['id', 'country_id', 'league_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10', 'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8', 'away_player_X9', 'away_player_X10', 'away_player_X11', 'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4', 'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8', 'home_player_Y9', 'home_player_Y10', 'home_player_Y11', 'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4', 'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8', 'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA']

Seeing as we aren't going to do anything with the betting odds for the time being, everything after possession can be ignored.

In [12]:
english_season_query = """
SELECT 
  l.name, season, stage AS matchweek, date, 
  ht.team_long_name AS home_team, 
  at.team_long_name AS away_team,
  home_team_goal AS home_goals,
  away_team_goal AS away_goals,
  goal, shoton, shotoff, foulcommit, card, cross, corner, possession
FROM
  Match m
INNER JOIN League l ON m.league_id = l.id
INNER JOIN Team ht ON m.home_team_api_id = ht.team_api_id
INNER JOIN Team at ON m.away_team_api_id = at.team_api_id
WHERE
  l.name = 'England Premier League'
ORDER BY
  season, date, matchweek
LIMIT 10
"""

english_seasons = pd.read_sql(english_season_query, conn)
english_seasons

,name,season,matchweek,date,home_team,away_team,home_goals,away_goals,goal,shoton,shotoff,foulcommit,card,cross,corner,possession
0,England Premier League,2008/2009,1,2008-08-16 00:00:00,Arsenal,West Bromwich Albion,1,0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card />,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>65</comment><event...
1,England Premier League,2008/2009,1,2008-08-16 00:00:00,Sunderland,Liverpool,0,1,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>45</comment><event...
2,England Premier League,2008/2009,1,2008-08-16 00:00:00,West Ham United,Wigan Athletic,2,1,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>50</comment><event...
3,England Premier League,2008/2009,1,2008-08-16 00:00:00,Everton,Blackburn Rovers,2,3,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>46</comment><event...
4,England Premier League,2008/2009,1,2008-08-16 00:00:00,Middlesbrough,Tottenham Hotspur,2,1,<goal><value><comment>dg</comment><event_incid...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><corners>1</corners></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>49</comment><event...
5,England Premier League,2008/2009,1,2008-08-16 00:00:00,Bolton Wanderers,Stoke City,3,1,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><event_incident_typefk>123</even...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>58</comment><event...
6,England Premier League,2008/2009,1,2008-08-16 00:00:00,Hull City,Fulham,2,1,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>49</comment><event...
7,England Premier League,2008/2009,1,2008-08-17 00:00:00,Manchester United,Newcastle United,1,1,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>56</comment><event...
8,England Premier League,2008/2009,1,2008-08-17 00:00:00,Aston Villa,Manchester City,4,2,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><corners>1</corners></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>51</comment><event...
9,England Premier League,2008/2009,1,2008-08-17 00:00:00,Chelsea,Portsmouth,4,0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>57</comment><event...

Something that is standing out to me after pulling out all of the English Premier League matches, is the data from the goal column to the right. It looks like when this was scraped, they just pulled all the HTML values from that field, so these will require extra work to aggregate via Python when we get to that point.

In the meantime, let's take a look at the by-season aggregated performance of English teams.

In [13]:
arsenal_query = """
SELECT *
FROM Team
WHERE team_long_name = 'Arsenal'
"""
arsenal = pd.read_sql(arsenal_query, conn)
arsenal

     id  team_api_id  team_fifa_api_id team_long_name team_short_name
0  3459         9825                 1        Arsenal             ARS

In [14]:
arsenal_by_season_query = """
WITH arsenal AS (
SELECT
  season,
  home_team_api_id AS home_team,
  away_team_api_id AS away_team,
  home_team_goal AS home_goals,
  away_team_goal AS away_goals
FROM
  Match m
WHERE
  country_id = 1729
  AND home_team_api_id = 9825 OR away_team_api_id = 9825
)
SELECT
  season,
  SUM(CASE WHEN home_team = 9825 THEN home_goals END) AS home_goals,
  SUM(CASE WHEN away_team = 9825 THEN away_goals END) AS away_goals,
  SUM(
    CASE
      WHEN home_team = 9825 THEN home_goals
      WHEN away_team = 9825 THEN away_goals
      END
  ) AS total_goals
FROM
  arsenal
GROUP BY
  season
"""
arsenal_results = pd.read_sql(arsenal_by_season_query, conn)
arsenal_results

      season  home_goals  away_goals  total_goals
0  2008/2009          31          37           68
1  2009/2010          48          35           83
2  2010/2011          33          39           72
3  2011/2012          39          35           74
4  2012/2013          47          25           72
5  2013/2014          36          32           68
6  2014/2015          41          30           71
7  2015/2016          31          34           65

In [15]:

english_teams_by_season_query = """
WITH home_goals_by_season AS (
SELECT
  season, 
  home_team_api_id, 
  SUM(home_team_goal) AS home_goals
FROM
  Match m
WHERE
  country_id = 1729
GROUP BY
  season, home_team_api_id
), away_goals_by_season AS (
SELECT
  season, 
  away_team_api_id, 
  SUM(away_team_goal) AS away_goals
FROM
  Match m
WHERE
  country_id = 1729
GROUP BY
  season, away_team_api_id
)
SELECT
  h.season,
  ht.team_long_name AS home_team,
  h.home_goals,
  at.team_long_name AS away_team,
  a.away_goals,
  h.home_goals + a.away_goals AS total_goals
FROM
  home_goals_by_season h, away_goals_by_season a
INNER JOIN Team ht ON h.home_team_api_id = ht.team_api_id
INNER JOIN Team at ON a.away_team_api_id = at.team_api_id
"""

etbs = pd.read_sql(english_teams_by_season_query, conn)
etbs

,season,home_team,home_goals,away_team,away_goals,total_goals
0,2008/2009,Chelsea,33,Chelsea,35,68
1,2008/2009,Chelsea,33,Manchester City,18,51
2,2008/2009,Chelsea,33,Portsmouth,12,45
3,2008/2009,Chelsea,33,Sunderland,13,46
4,2008/2009,Chelsea,33,Wigan Athletic,17,50
...,...,...,...,...,...,...
25595,2015/2016,Newcastle United,32,Swansea City,22,54
25596,2015/2016,Newcastle United,32,Stoke City,19,51
25597,2015/2016,Newcastle United,32,Aston Villa,13,45
25598,2015/2016,Newcastle United,32,Manchester United,22,54
25599,2015/2016,Newcastle United,32,Newcastle United,12,44